@font-face {
  font-family: baseFont;
  src:url(Typeface.otf);
  font-weight: 300;
  font-style:normal;
}

body {
  font-family:baseFont;
  display:grid;
  grid-template-rows:12vh 88vh;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  line-height:1.1rem;
}


#banner {
  border-bottom: solid black 2px;
  background-color: azure;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  height: 12vh;
  margin-bottom: 30px;
  box-shadow:0px 5px 10px gray;
  position:fixed;
  width:100vw;
  top:0;
}

#logo {
  /* percentage of screen in mobile, 800px on desktop */
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.navbuttons {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: repeat(4, 30px);
  justify-content: space-around;
  align-content: end;
  margin: 20px 20px 7px 20px;
}

.selectedBtn {
  color:rgb(68, 156, 156);
}

.navbuttons button {
  font-family:baseFont;
  width: 100px;
  border: none;
  outline: none;
  background: transparent;
  font-weight:800;
}

button:hover {
  cursor: pointer;
  transform:translate(0,-5px);
  transition:all .7s;
}

button:active {
  cursor: pointer;
  transform:scale(.9);
  transition:all .1s;
}


.about,
.contact,
.portfolio {
margin:auto;
margin-top:100px;
padding:15px 25px 15px 15px;
width:80ch;
}

.contact {
  display:flex;
  flex-direction: column;
  align-items:center;
}


#email::before {
  content:url(./mail.svg);
  position:relative;
  margin-right:10px;
  top:5px;
}

#phone::before {
  content:url(./phone.svg);
  position:relative;
  margin-right:10px;
  top:5px;
}

.disappear {
  opacity:0%;
  transition:opacity 1.3s;
}

.reappear {
  opacity:100%;
  transition:opacity 1.3s;
}

#map {
  width: 80ch;
  height: 20ch;
}


@media screen and (max-width: 1100px) {
  .navbuttons {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(2, 20px);
    grid-template-rows: repeat(2, 30px);
    row-gap: 10px;
    justify-content: space-around;
    margin: 10px;
    margin-top: 20px;
  }

  .navbuttons button {
    font: 10px;
    width: 50px;
  }

  .about,
  .contact,
  .porttfolio {
    width:40ch;
  }

  #map {
    width: 40ch;
    height: 10ch;
  }
}
