@font-face {
  font-family: baseFont;
  src:url(Typeface.otf);
  font-weight: 300;
  font-style:normal;
}

body {
  font-family:baseFont;
  display:grid;
  grid-template-rows:12vh 88vh;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  line-height:1.1rem;
}


#banner {
  border-bottom: solid black 2px;
  --main-bg-color: azure;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  height: 12vh;
  margin-bottom: 30px;
  box-shadow:0px 5px 10px gray;
  position:fixed;
  width:100vw;
  top:0;
  z-index:1;
}

#logo {
  /* percentage of screen in mobile, 800px on desktop */
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.navbuttons {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: repeat(4, 30px);
  justify-content: space-around;
  align-content: end;
  margin: 20px 20px 0px 20px;
}

.selectedBtn {
  --selected-color:rgb(68, 156, 156);
  color:var(--selected-color);
}

.navbuttons button {
  font-family:baseFont;
  width: 100px;
  height:22px;
  border: none;
  outline: none;
  background: transparent;
  font-weight:800;
  transition: transform 200ms ease-in-out,
              color 300ms ease-in-out;
}

/* 
Create trigger element behind nav buttons */
.navbuttons div {
  width:100px;
  height:22px;
}

/* Below means when trigger is hovered over, animate the button. Only select the MAIN nav buttons*/
.navbuttons>div:hover>button{
  cursor: pointer;
  transform:translate(0,-5px);
}

.navbuttons>div:active>button{
  cursor: pointer;
  transform:scale(1.05);
}

/* Dropdown css below */
#dropdown {
display:flex;
flex-direction: column;
align-items: center;
background-color:  var(--main-bg-color);
height:fit-content;
width:125px;
position:relative;
left:-18px;
padding:5px;
border-left: solid black 2px;
border-right: solid black 2px;
border-bottom: solid black 2px;
}

#dropdown button {
margin-top:10px;
font-weight:200;
transition:color 300ms ease-in-out,
scale 300ms ease-in-out;
}

#dropdown button:hover {
  cursor:pointer;
  transform:scale(1.1);
}


.about,
.contact,
.portfolio {
margin:auto;
padding:15px 15px 15px 15px;
width:80ch;
}

.home {
display:flex;
justify-content: center;
margin:0;
padding:45px 15px 15px 15px;
}

.imgSlider {
width:90vw;
height:40vh;
position:relative;
}

.imgSlider img {
  width:100%;
  height:100%;
  object-fit: contain;
  position:absolute;
}

.highZ {
  z-index: 100;
}

.lowZ {
  z-index:1;
}

#content {
  grid-row:2/3;
}

/* Buttons for img slider */
.left,
.right {
  height:100%;
  width:15vw;
  position: absolute;
}

.left {
left:0vw;

}

.right {
right:0vw;

} 

/* reset button */
.left button,
.right button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  position:absolute;
  height:30px;
  width:30px;
  background-repeat:no-repeat;
  scale:2;
  z-index: 1000;
}

.left button {
  background-image:url('arrow-left-circle.svg');
  top:50%;
  left:50%;
}

.right button {
  background-image:url('arrow-right-circle.svg');
  top:50%;
  right:50%;
}


.contact {
  display:flex;
  flex-direction: column;
  align-items:center;
}


#email::before {
  content:url(./mail.svg);
  position:relative;
  margin-right:10px;
  top:5px;
}

#phone::before {
  content:url(./phone.svg);
  position:relative;
  margin-right:10px;
  top:5px;
}

.disappear {
  opacity:0%;
  transition:opacity 1.3s, visibility 1.3s;
  visibility:hidden;
}

.reappear {
  opacity:100%;
  transition:opacity 1.3s, visibility 1.3s;
  visibility:visible;
}

#map {
  width: 80ch;
  height: 20ch;
}




@media screen and (max-width: 1100px) {
  .navbuttons {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(2, 20px);
    grid-template-rows: repeat(2, 30px);
    row-gap: 10px;
    justify-content: space-around;
    margin: 10px;
    margin-top: 20px;
  }

  .navbuttons button {
    font: 10px;
    width: 50px;
  }

  .about,
  .contact,
  .porttfolio {
    width:40ch;
  }

  #map {
    width: 40ch;
    height: 10ch;
  }

  #dropdown {
    width: 120px;
    left:-25px;
    padding:0px;
    margin-top:18px;
  }
}
